<div class="row">
    <div class="col"></div>
    <div class="col-11">
        <div class="one-products-row">
            <h3 class="products-header">Newest items</h3>
            <div class="productCard">
                <a href="#">
                    <img class="cardImage" align="middle" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/shoes%20(2).jpg">
                </a>
                <div class="productInfo">
                    <div class="product-card-category">
                        <h4>shoe</h4>
                    </div>
                    <div class="product-card-name">
                        <h3 style="color: grey">BangBang Shoe</h3>
                    </div>
                    <div class="product-card-price">
                        <h4>$49</h4>
                    </div>
                    <div class="product-card-rating">
                        <!--<img src="./image/rate.jpg" style="width: 150px; height:35px;"></img>-->
                        <fieldset class="rating">
                            <input disabled="disabled" type="radio" id="star5" name="rating" class="" value="5" /><label class = "full disabledRating" for="star5" title="Awesome - 5 stars"></label>
                            <input disabled="disabled" type="radio" id="star4half" name="rating" value="4.5" /><label class="half disabledRating" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input disabled="disabled" checked="checked" type="radio" id="star4" name="rating" value="4" /><label class = "full disabledRating" for="star4" title="Pretty good - 4 stars"></label>
                            <input disabled="disabled" type="radio" id="star3half" name="rating" value="3.5" /><label class="half disabledRating" for="star3half" title="Meh - 3.5 stars"></label>
                            <input disabled="disabled" type="radio" id="star3" name="rating" value="3" /><label class = "full disabledRating" for="star3" title="Meh - 3 stars"></label>
                            <input disabled="disabled" type="radio" id="star2half" name="rating" value="2.5" /><label class="half disabledRating" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input disabled="disabled" type="radio" id="star2" name="rating" value="2" /><label class = "full disabledRating" for="star2" title="Kinda bad - 2 stars"></label>
                            <input disabled="disabled" type="radio" id="star1half" name="rating" value="1.5" /><label class="half disabledRating" for="star1half" title="Meh - 1.5 stars"></label>
                            <input disabled="disabled" type="radio" id="star1" name="rating" value="1" /><label class = "full disabledRating" for="star1" title="Sucks big time - 1 star"></label>
                            <input disabled="disabled" type="radio" id="starhalf" name="rating" value="0.5" /><label class="half disabledRating" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="productCard">
                <a href="#">
                    <img class="cardImage" align="middle" src="/images/iphone7.jpg">
                </a>
                <div class="productInfo">

                </div>
            </div>
            <div class="productCard">
                <a href="#">
                    <img class="cardImage" align="middle" src="/images/IpadPro.jpg">
                </a>
                <div class="productInfo">

                </div>
            </div>
        </div>

        <div class="one-products-row">
            <h3 class="products-header">Most rated items</h3>
            <div class="productCard">
                <a href="#">
                    <img class="cardImage" align="middle" src="/images/NikeAir.jpg"></img>
                </a>
                <div class="productInfo">

                </div>
            </div>
            <div class="productCard">
                <a href="#">
                    <img class="cardImage" align="middle" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/shoes%20(2).jpg"></img>
                </a>
                <div class="productInfo">

                </div>
            </div>
            <div class="productCard">
                <a href="#">
                    <img class="cardImage" align="middle" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/shoes%20(2).jpg"></img>
                </a>
                <div class="productInfo">

                </div>
            </div>
        </div>

    </div>
    <div class="col"></div>
</div>
<div class="footer">
    <button class="btn btn-lg btn-circle btn-primary">as</button>
    <button type="button" class="btn btn-outline-primary">lalala</button>
    <button class="btn btn-primary">asdfasdf</button>
    <button type="button" class="btn btn-outline-primary">lalala</button>
</div>